nav{
    background-color: aqua;
}

nav ul{
    display: flex;
}

nav ul  li{
    margin: 20px;
    border: 1px solid black;
    list-style: none;
    padding: 20px;
    background-color: white;
}

nav ul li:hover{
    background-color: lightpink;
    border-radius: 50%;
}

body{
    background-image: linear-gradient(yellow, blue) ;
}